@use "../utils/mixins" as m;

.projects-page {
    text-align: center;

    // doing this because of CSS Specificity (-_-)
    &.page {
        padding-top: 2rem;
    }

    .projects {
        $gap: 1.5rem;
        width: calc(100% + $gap);
        max-width: calc(850px + 5 * $gap);
        margin: calc(2rem - $gap) auto 2rem;
        transform: translateX(-$gap);
        @include m.flexbox(center);
        flex-wrap: wrap;
    }
}
