@use "../utils/mixins" as m;
@use "../utils/variables" as vars;

.projects-page {
    text-align: center;

    // doing this because of CSS Specificity (-_-)
    &.page {
        padding-top: 2rem;
    }

    &.page--loaded .project {
        animation-name: appear;
        animation-duration: 300ms;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;

        @for $i from 2 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms + 50ms * ($i - 2);
            }
        }
    }

    .projects {
        $gap: 1.5rem;
        width: calc(100% + $gap);
        margin: calc(2rem - $gap) auto 2rem;
        transform: translateX(-$gap);
        @include m.flexbox(center);
        flex-wrap: wrap;

        .project {
            width: 100%;
            max-width: 360px;
            border-radius: 10px;
            background-color: vars.$dark-grey;
            margin: $gap 0 0 $gap;
            padding: 10px;
            opacity: 0;

            img {
                width: 100%;
                height: 180px;
            }

            h4 {
                margin: 0.5rem 0;
            }

            p {
                height: 38.4px;
                text-align: left;
                font-size: 0.9rem;
                overflow: hidden;
            }
        }
    }
}
