@use "../utils/mixins" as m;
@use "../utils/variables" as vars;

.skills-page {
    text-align: center;

    // doing this because of CSS Specificity (-_-)
    &.page {
        padding-top: 2rem;
    }

    &.page--loaded {
        .skill {
            animation-name: appear;
            animation-duration: 300ms;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;
        }

        @for $i from 2 through 10 {
            @if ($i < 8) {
                .skills .skill:nth-child(#{$i}) {
                    animation-delay: 100ms + 50ms * ($i - 2);
                }
            } @else {
                .tools .skill:nth-child(#{$i - 7}) {
                    animation-delay: 100ms + 50ms * ($i - 2);
                }
            }
        }
    }

    .skills,
    .tools {
        $gap: 1.5rem;
        width: calc(100% + $gap);
        max-width: calc(850px + 5 * $gap);
        margin: calc(2rem - $gap) auto 2rem;
        transform: translateX(-$gap);
        @include m.flexbox(center);
        flex-wrap: wrap;

        .skill {
            width: 150px;
            height: 150px;
            border-radius: 10px;
            background-color: vars.$dark-grey;
            margin: $gap 0 0 $gap;
            opacity: 0;
            @include m.flexbox(space-evenly, center, column);

            &__icon {
                width: 80px;
                height: 80px;
            }

            &__name {
                font-size: 1.1rem;
                line-height: 1.1rem;
            }
        }
    }

    @media screen and (min-width: 729px) {
        .skills .skill,
        .tools .tool {
            width: 170px;
            height: 170px;

            &__icon {
                width: 90px;
                height: 90px;
            }
        }
    }
}
