#connect-page {
  .social-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .social-link {
      width: 170px;
      height: 42px;
      border: 1px solid var(--primary-color);
      margin-top: 1rem;
      padding-left: 18px;
      border-radius: 30px;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translateX(100%);
        transition: transform 200ms ease-in;
      }

      &__icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        left: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        color: #000;

        &::after {
          transform: translateX(0);
        }

        .github {
          fill: #000;
        }
      }
    }
  }
}
