#home-page {
  align-items: center;

  img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 2px solid var(--dark-grey);
    margin-bottom: 1rem;
  }

  h1 {
    color: var(--primary-color);
  }

  .location {
    display: flex;
    align-items: center;
  }

  p {
    max-width: 420px;
    margin: 1rem 0;
  }
}
