.quote {
  max-width: 428px;
  padding: 20px 16px 16px 28px;
  border-radius: 0 10px 10px 0;
  background-color: var(--dark-grey);
  border-left: 5px solid var(--primary-color);
  text-align: right;

  blockquote {
    text-align: left;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    position: relative;

    &::before {
      content: "\201C";
      font-size: 28px;
      position: absolute;
      color: var(--primary-color);
      font-weight: bold;
      left: -16px;
      top: -5px;
    }
  }

  small {
    color: #b0b0b0;
  }
}
