<!-- Home Page -->
<div class="page home-page">
    <img src="images/me.jpg" alt="Me">
    <h1 class="yellow">Hi, I am Biraj.</h1>
    <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-map-pin">
            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
            <circle cx="12" cy="10" r="3"></circle>
        </svg>
        &nbsp;Bangalore, India
    </span>
    <p>I like Anime, Chess, Deep Learning, Mathematics &amp; Programming. I am currently learning Deep Learning and
        am interested in Computer Vision.</p>

    <button class="next-page-btn">
        My Skills
        <span class="next-page-btn__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </span>
    </button>
</div>