<div class="page projects-page">
    <!-- My Projects -->

    <h2>My Projects</h2>

    <div class="projects">
        <div class="project">
            <img src="images/projects/findrep.webp" alt="Findrep">
            <h4><a href="https://github.com/biraj21/findrep" target="_blank">Findrep</a></h4>
            <p>A simple tool to find &amp; replace all the matches of a regular expression in multiple
                files/directories.
            </p>
        </div>
    </div>

    <%~ includeFile('../components/next_page_btn.html', {btn_text: "Connect"}) %>
</div>