<!-- My Projects Page -->

<div class="page projects-page">
    <h2>My Projects</h2>

    <div class="projects">
        <div class="project">
            <img src="images/projects/findrep.webp" alt="Findrep">
            <h4><a href="https://github.com/biraj21/findrep" target="_blank">Findrep</a></h4>
            <p>A simple tool to find and replace all the matches of a regular expression in multiple files/directories.
            </p>
        </div>

        <div class="project">
            <img src="images/projects/bf_interpreter.webp" alt="Brainf*ck Interpreter">
            <h4><a href="https://github.com/biraj21/bf_interpreter" target="_blank">Brainf*ck Interpreter</a></h4>
            <p>An interpreter for the Brainf*ck programming language written in C.</p>
        </div>
    </div>

    <%~ includeFile('../components/next_page_btn.html', {btn_text: "Connect"}) %>
</div>