* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-color: #0f0f0f;
  --dark-grey: #212529;
  --primary-color: #ffb400;

  height: 100%;
  font-family: "Nunito", sans-serif;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px; // for vertical scroolbar
  height: 5px; // for horizontal scrollbar
  background-color: var(--dark-grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.page {
  min-height: 100%;
  padding: 2rem 1rem 5.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
