@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffb400;

  font-family: "Rubik", sans-serif;
  @apply bg-slate-950 text-white scroll-smooth;
}

::-webkit-scrollbar {
  width: 5px; // for vertical scroolbar
  height: 5px; // for horizontal scrollbar
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

.animation-delay-100 {
  animation-delay: 100ms;
}

@layer components {
  .section {
    @apply container mx-auto px-4 py-8 flex flex-col items-center justify-center;

    &__heading {
      @apply text-3xl font-bold text-center flex items-center justify-center;

      &::before,
      &::after {
        content: "";
        @apply block h-0.5 w-16 bg-primary;
      }

      &::before {
        @apply mr-4;
      }

      &::after {
        @apply ml-4;
      }
    }
  }

  .link-btn {
    @apply h-12 border border-primary px-8 rounded-full uppercase bg-none text-white flex items-center justify-center overflow-hidden relative;
    letter-spacing: 0.9pt;

    &::after {
      content: "";
      @apply w-full bg-primary absolute top-0 left-0 bottom-0 -z-10 -translate-x-full transition-transform duration-300 ease-in;
    }

    &--next-icon {
      @apply pr-0;
    }

    &__next-icon {
      @apply w-12 h-12 rounded-full bg-primary ml-4 flex items-center justify-center;

      svg {
        @apply w-6 h-6;
      }
    }

    &:hover {
      color: #000;

      &::after {
        transform: translateX(0);
      }
    }
  }
}
